
@{
    ViewBag.Title = "Contact";
}

<body>
    <ul>
        <li><a> @Html.ActionLink("Home", "Index", "Home")</a></li>
        <li><a>@Html.ActionLink("Blogs", "Blogs", "Blogs")</a></li>
        <li ><a>@Html.ActionLink("About Us", "About", "About")</a></li>
        <li class="active"><a>@Html.ActionLink("Contact Us", "Contact", "Contact")</a></li>
    </ul>
</body>
<h1>Contact Us</h1>
<div class="Contact">
    <input id="Text1" type="text" placeholder="Username" /><br />
    <input id="Text1" type="text" placeholder="Email" /><br />
<textarea id="TextArea1" placeholder="Description" rows="2" cols="20"></textarea>
</div>