
@{
    ViewBag.Title = "About";
}
<body>
    <ul>
        <li><a> @Html.ActionLink("Home", "Index", "Home")</a></li>
        <li ><a>@Html.ActionLink("Blogs", "Blogs", "Blogs")</a></li>
        <li class="active"><a>@Html.ActionLink("About Us", "About", "About")</a></li>
        <li><a>@Html.ActionLink("Contact Us", "Contact", "Contact")</a></li>
    </ul>
</body>
<h1> About Us</h1>
<h3>Python is a programming language that lets you work more quickly and integrate your systems more effectively.</h3>
<p>
    You can learn to use Python and see almost immediate gains in productivity and lower maintenance costs. Learn more about Python.
</p>

