
@{
    ViewBag.Title = "Blogs";
}
<body>
    <ul>
        <li ><a> @Html.ActionLink("Home", "Index", "Home")</a></li>
        <li class="active"><a>@Html.ActionLink("Blogs", "Blogs", "Blogs")</a></li>
        <li><a>@Html.ActionLink("About Us", "About", "About")</a></li>
        <li><a>@Html.ActionLink("Contact Us", "Contact", "Contact")</a></li>
    </ul>
</body>
<h1> Blogs</h1>
<div>
  
    <img src="~/Content/2.jpg" width="1295" height="475" /> 
</div>
