
@{
    ViewBag.Title = "Index";
}





    <h1>Welcome to Home Page</h1>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Blogs", "Blog", "Blog")
    @Html.ActionLink("About Us", "About", "About")
    @Html.ActionLink("Contact Us", "Contact", "Contact")

    



<footer>&copy; All Rights Reserved </footer>

