
@{
    ViewBag.Title = "Index";
}



<body>
    <ul>
        <li class="active"><a>@Html.ActionLink("Home","Index","Home")</a></li>
        <li><a>@Html.ActionLink("Medicines", "Medicine", "Blogs")</a></li>
        <li><a>@Html.ActionLink("About Us", "About", "About")</a></li>
        <li><a>@Html.ActionLink("Contact Us", "Contact", "Contact")</a></li>
    </ul>
</body>
<h1>Welcome to Pharmacy Management System</h1>
<div>
    <img src="~/Content/1.jpg"  width="1295"height="475"/>
</div>