



<bode>
    <ul>
        <li <a>@Html.ActionLink("Home", "Index", "Home")</a></li>
        <li <a>@Html.ActionLink("Blogs", "Blogs", "Blogs")</a></li>
        <li class="active"><a>@Html.ActionLink("About Us", "About", "About")</a></li>
        <li <a>@Html.ActionLink("Contact Us", "Contact", "Contact")</a></li>
    </ul>
</bode>
<h1>About Us Page  </h1>
<h3>Python is a programming language used for making AI Application </h3>
<p>
    You can learn Python from Courseera and such other platform
</p>

